html,body{
    height: 100;
    margin: 0;
    font-family: "lato",sans-serif;
    font-size: 30px;
    line-height: 1.8rem;
    font-weight: 400;
    color: white;
}
.pimg1{
    background-image: url(/images/nature.jfif);
    height: 500px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  
}
.pimg2{
    background-image: url(/images/insprition.jfif);
    min-height: 400px;

}
.pimg3{
    background-image: url(/images/pexels.jfif);
    min-height: 400px;
}
.pimg1,
.pimg2,
.pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;

    
    letter-spacing: 8px;
    text-transform:uppercase ;
    font-size: 27px;

}
.textBg{
    background: darkslategray;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-sizing:content-box;
}
.section{
    padding: 50px 80px;
    text-align: center; 
}
.section-light{
    background-color: grey;
    color:#ddd;
}
.section-dark{
    background-color:grey;
    color:#ddd;
}
